
.bodyStyle {
    background-color: lightseagreen;
}

.container {
    width: 100%;
    margin: 3% 0 0 30%;
}

h2{
    font-family: cursive;
    font-size: 460%;
    margin-left: 470px;
}

.label{
    padding: 10px;
    margin: 20px;
    width: 25%;
    background-color: white;
    font-family: cursive;
    font-size: 160%;
    border-radius: 12px;
}

.whiteKeysKbd {
    display: inline-block;
    padding-top: 190px;
    padding-bottom: 60px;
    width: 60px;
    margin-right: -3px;
    margin-left: 0;
    text-align: center;
    border: 5px solid black;
    background: white;

}

.white-keys {
    color: black;
}

.black-keys {
    color: white;

}

.blackKeyKbd {
    position: relative;
    bottom: 275px;
    display: inline-block;
    padding-top: 90px;
    padding-bottom: -10px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: -5px;
    border: 5px solid black;
    background: black;
    text-align: center;
}

#W_Key {
    margin-left: 50px;
}

#E_Key {
    margin-left: 20px;
}

#T_Key {
    margin-left: 85px;
}

#Y_Key {
    margin-left: 17px;
}

#U_Key {
    margin-left: 17px;
}